@tailwind base;
@tailwind components;
@tailwind utilities;
.bgLogin {
  background-color: #ffffff;
  background: url('/public/images/waves/redLogin.png');
  background-attachment: fixed;
}
.bgDashboard {
  position: relative;
  z-index: 1;
}
.bgDashboard:before {
  background: url('/public/images/waves/redDashboard.png');
  background-attachment: fixed;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  z-index: -1;
}
.bgRouterNested {
  position: relative;
  z-index: 1;
}
.bgRouterNested:before {
  background: url('/public/images/waves/redRouterNested.png');
  background-attachment: fixed;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  z-index: -1;
}
.bgMainNested {
  position: relative;
  z-index: 1;
}
.bgMainNested:before {
  background: url('/public/images/waves/redMainNested.png');
  background-attachment: fixed;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  z-index: -1;
}

.bgSubNested {
  position: relative;
  z-index: 1;
}
.bgSubNested:before {
  background: url('/public/images/waves/redSubNested.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

.bgAbout {
  position: relative;
  z-index: 1;
}
.bgAbout:before {
  background: url('/public/images/waves/redAbout.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.6;
  z-index: -1;
}
.dashboardPage {
  width: 600px;
}

@media only screen and (max-width: 1536px) {
  .heightPages {
    height: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .heightPages {
    height: 66%;
  }
  .greetPages {
    width: 325px;
    background-repeat: no-repeat;
  }
  .dashboardPage {
    text-size: 20px;
    width: 300px;
  }
  .profile {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 380px) {
  .heightPages {
    width: 275px;
  }
  .greetPages {
    width: 275px;
    background-repeat: no-repeat;
  }
  .dashboardPage {
    text-size: 18px;
    width: 280px;
  }
  .profile {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 330px) {
  .heightPages {
    width: 265px;
  }
  .greetPages {
    width: 265px;
    background-repeat: no-repeat;
  }
  .dashboardPage {
    text-size: 16px;
    width: 250px;
  }
  .profile {
    text-size: 12px;
    display: flex;
    flex-direction: column;
  }
}

.borderHover:hover #hrr {
  border: 1px solid black;
}

.spinnerLoader {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* For SVG flags */

/* .CLASS */

.dropdown {
  display: inline-block;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
  border-radius: 15px;
}

.buttonM {
  cursor: pointer;
  display: block;
  text-align: center;
  color: black;
  background-color: 'white';
  transition: 0.2s;
}

.buttonM:hover {
  background-position: right center;
  color: black;
  text-shadow: -1px 0 black, 0 0px black, 1px 0 black, 0 -1px black;
}

.button {
  cursor: pointer;
  margin: 10px;
  padding: 5px 25px;
  text-align: center;
  transition: 0.2s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}
.button:hover {
  outline: thick double white;
  background-color: 'white';
  background-position: right center;
  color: white;
  text-shadow: -1px 0 black, 0 0px black, 1px 0 black, 0 -1px black;
}

/* #ID */

#flags {
  text-align: center;
  display: block;
}

.gridCol {
  font-size: 1.5em;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}

.arrowScroll {
  transition: all 0.2s ease-out;
  height: '100px';
  width: '100px';
  cursor: 'pointer';
  padding: '5px';
  position: 'fixed';
  right: '100px';
  bottom: '100px';
}
.svg {
  border: 2px solid white;
  border-radius: 30px;
  transition: 0.2s;
  padding: 5px;
}
.svg:hover {
  border: 2px solid red;
  border-radius: 30px;
  transition: 0.2s;
  padding: 5px;
}
